<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <h1>Codebusters Weather Widget</h1>
    <div class="status-graphic">
      <img src="" alt="">
    </div>
    <div class="temp-display">
      <p>Current Temp is:</p>
    </div>
    <div class="location">
      <p>Location:</p>
    </div>
    <script type="text/javascript" src="server.js"></script>
  </body>
</html>
